<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASPortStore</title>
</head>
<body>
    <div id="root">
        @RenderBody()
    </div>
</body>
</html>