<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASPortStore</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>
    <header id="main-header">
        <h1 class="bg-blue-500">ASPortStore</h1>
    </header>

    <aside id="main-aside">
        <vc:navigation-menu />
    </aside>

    <div id="root">@RenderBody()</div>
</body>

</html>