@model ProductsListViewModel

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASPortStore</title>
    <link rel="icon" href="~/icons/football.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="~/javascript/main.js" defer></script>
</head>

<body>
    <header id="main-header">
        <h1><a href="/">ASPortStore</a></h1>
        <div id="cart-info-displayer">
            <vc:cart-summary />
            <button class="icon-button primary-button">
                <img src="~/icons/cart.svg" alt="Cart Icon.">
                <a href="/Cart"></a>
            </button>
        </div>
        <button id="navigation-menu-toggle-button">Categories</button>
    </header>

    <aside id="main-aside">
        <vc:navigation-menu />
    </aside>

    <main id="root">@RenderBody()</main>
</body>

</html>