:root {
    --background-colour: #e3e6e6;
    --background-dark-colour: #c8c8c8;
    --fore-colour: #1e1e1e;
    --fore-darker-colour: #0d0d0d;
    --main-colour: #00af64;
    --secondary-colour: #007ebd;
    --error-colour: #bd0000;

    --box-shadow-thickness: 2px;
    --box-shadow-blurriness: 4px;
    --box-shadow-colour: #0d0d0d70;
    --box-shadow:
        0 0 var(--box-shadow-blurriness) var(--box-shadow-thickness) var(--box-shadow-colour);
    --box-shadow-side:
        var(--box-shadow-thickness) var(--box-shadow-thickness) var(--box-shadow-blurriness) calc(var(--box-shadow-thickness) / 2) var(--box-shadow-colour);

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    color: var(--fore-colour);
    background-color: var(--background-colour);
}

h1, h2, h3, h4, h5, h6,
p, q, a, button, input {
    text-decoration: none;

    display: block;

    margin: 0;
    padding: 0;
    
    color: inherit;
}

button {
    padding: 1rem;

    border: none;
    border-radius: 5px;
    color: var(--fore-colour);
    background-color: var(--background-colour);
    box-shadow: var(--box-shadow-side);

    cursor: pointer;

    transition: background-color 250ms, filter 250ms;
}

button:not(.primary-button, .secondary-button, .danger-button):is(:hover, :focus-within) {
    background-color: var(--background-dark-colour);
}

#main-header {
    --padding: 2rem;

    position: relative;
    display: flex;

    padding: var(--padding);

    color: var(--background-colour);
    background-color: var(--fore-colour);
    box-shadow: var(--box-shadow);
}

#main-header h1 {
    flex-grow: 1;
}

#main-header #cart-info-displayer {
    display: flex;
    place-content: center;
    place-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#main-header #navigation-menu-toggle-button {
    --inner-padding: 1rem;
    --border-thickness: 3px;
    --border-radius: 20px;

    font-size: medium;

    position: absolute;
    top: 100%;
    left: calc(var(--padding) - var(--border-thickness));
    transform: translateY(calc(-50% + var(--border-thickness)));

    padding: var(--inner-padding);
    padding-right: calc(var(--inner-padding) * 2);
    
    box-shadow: var(--box-shadow);
    
    border: var(--border-thickness) solid var(--fore-colour);
    border-radius: var(--border-radius);
    border-bottom-right-radius: calc(var(--border-radius) * 5);
}

#main-aside {
    --padding-block: 6rem;

    min-height: calc(100vh - var(--padding-block) * 2);
    min-height: calc(100dvh - var(--padding-block) * 2);
    position: fixed;
    inset: 0;
    right: auto;
    
    padding: var(--padding-block) 0;

    box-shadow: var(--box-shadow);
    background-color: var(--background-colour);

    transition: transform 500ms;

    overflow-y: auto;
    overflow-x: hidden;
}

#main-aside:not([data-is-open]) {
    transform: translateX(-100%);
}

#main-aside #navigation-menu ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;

    color: var(--fore-darker-colour);
}

#main-aside #navigation-menu ul li a {
    font-size: 2rem;

    padding: 2rem 4rem;

    transition: background-color 250ms, color 250ms;
}

#main-aside #navigation-menu ul li a[data-is-selected-page=true] {
    color: var(--background-colour);
    background-color: var(--main-colour);
}

#main-aside #navigation-menu ul li a:is(:hover, :focus-visible) {
    color: var(--background-colour);
    background-color: var(--fore-colour);
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;

    padding: 4rem;
}

#product-displayer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 40rem), 1fr));
    gap: 2rem;
}

#product-displayer .product-card {
    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center start;
    place-items: center start;
    gap: 1rem;

    padding: 1rem;

    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

#product-displayer .product-card span {
    font-weight: bold;

    place-self: end;

    padding: 0.5rem;

    border-radius: 100rem;
    color: var(--background-colour);
    background: var(--main-colour);
    box-shadow: var(--box-shadow-side);
}

.paginator {
    --padding: var(--box-shadow-thickness);
    --border-radius: calc(var(--box-shadow-thickness) * 5);

    width: min-content;

    grid-column: 1 / -1;
    display: flex;
    gap: var(--padding);

    padding: var(--padding);

    border-radius: var(--border-radius);
    background-color: var(--fore-colour);
}

.paginator a {
    font-weight: bold;

    width: 4rem;
    height: 4rem;

    display: flex;
    place-content: center;
    place-items: center;

    background-color: var(--background-colour);

    transition: background-color 250ms, color 250ms;
}

.paginator a:is(:first-child, :last-child),
.paginator a:first-child:last-child {
    border-radius: var(--border-radius);
}

.paginator a:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.paginator a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.paginator a[data-is-selected-page=true] {
    color: var(--background-colour);
    background-color: var(--main-colour);
}

.paginator a:is(:hover, :focus-visible) {
    color: var(--background-colour);
    background-color: var(--fore-colour);
}

#cart-displayer {
    display: flex;
    flex-direction: column;
    place-self: center;
    place-content: center;
    flex-grow: 1;
    gap: 2rem;
}

#cart-displayer #cart-table {
    --border-thickness: 2px;

    max-height: 50vh;
    max-height: 50dvh;
    
    display: block;
    
    background-color: var(--fore-darker-colour);
    border: var(--border-thickness) solid var(--fore-darker-colour);

    overflow-x: hidden;
    overflow-y: auto;
}

#cart-displayer #cart-table thead {
    transform: scale(1.01) translateY(calc(-1 * var(--border-thickness)));
}

#cart-displayer #cart-table tbody {
    transform: scale(1.01);
}

#cart-displayer #cart-table tfoot {
    transform: scale(1.01) translateY(var(--border-thickness));
}

#cart-displayer #cart-table :is(td, th) {
    text-align: center;
    
    padding: 1rem;
}

#cart-displayer #cart-table tr {
    background-color: var(--background-colour);
}

#cart-displayer #cart-table tbody tr:nth-child(odd),
#cart-displayer #cart-table tfoot[data-is-even-line=true] tr {
    background-color: var(--background-dark-colour) !important;
}

.primary-button {
    font-weight: bold;

    color: var(--background-colour);
    background-color: var(--main-colour);
}

.secondary-button {
    font-weight: bold;

    color: var(--background-colour);
    background-color: var(--secondary-colour);
}

.danger-button {
    font-weight: bold;

    color: var(--background-colour);
    background-color: var(--error-colour);
}

:is(.primary-button, .secondary-button, .danger-button):is(:hover, :focus-within) {
    filter: brightness(110%);
}

.icon-button {
    --size: 4rem;

    position: relative;
    width: var(--size);
    height: var(--size);

    border-radius: 100%;

    overflow: hidden;
}

.icon-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    aspect-ratio: 1;

    display: flex;
    place-content: center;
    place-items: center;
}

.icon-button a {
    position: absolute;
    inset: 0;
}

.link-button {
    padding: 0;
}

.link-button a {
    padding: 1rem;
}