:root {
    --background-colour: #e3e6e6;
    --background-dark-colour: #c8c8c8;
    --fore-colour: #1e1e1e;
    --fore-darker-colour: #0d0d0d;
    --main-colour: #35dd66;
    --secondary-colour: #35bbdd;

    --box-shadow-thickness: 2px;
    --box-shadow-blurriness: 4px;
    --box-shadow-colour: #0d0d0d70;
    --box-shadow:
        0 0 var(--box-shadow-blurriness) var(--box-shadow-thickness) var(--box-shadow-colour);

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    margin: 0;
    padding: 0;

    color: var(--fore-colour);
    background-color: var(--background-colour);
}

h1, h2, h3, h4, h5, h6,
p, q, a, button, input {
    text-decoration: none;

    display: block;

    margin: 0;
    padding: 0;
    
    color: inherit;
}

button {
    padding: 1rem;

    border: none;
    border-radius: 5px; 
    background-color: inherit;

    cursor: pointer;

    transition: background-color 250ms, filter 250ms;
}

button:not(.primary-button, .secondary-button):is(:hover, :focus-within) {
    background-color: var(--background-dark-colour);
}

#main-header {
    grid-column: 1 / -1;

    padding: 2rem;

    color: var(--background-colour);
    background-color: var(--fore-colour);
}

#main-aside {
    --padding-block: 2rem;

    padding: var(--padding-block) 0;

    box-shadow: var(--box-shadow);
}

#main-aside #navigation-menu {
    position: sticky;
    top: var(--padding-block);
}

#main-aside #navigation-menu ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
}

#main-aside #navigation-menu ul li a {
    font-size: 2rem;

    padding: 2rem 4rem;

    transition: background-color 250ms, color 250ms;
}

#main-aside #navigation-menu ul li a[data-is-selected-page=true] {
    color: var(--background-colour);
    background-color: var(--main-colour);
}

#main-aside #navigation-menu ul li a:is(:hover, :focus-visible) {
    color: var(--background-colour);
    background-color: var(--fore-colour);
}

#root {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 4rem;
}

#product-displayer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#product-displayer .product-card {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;

    padding: 1rem;

    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

#product-displayer .product-card span {
    font-weight: bold;

    place-self: end;

    padding: 0.5rem;

    border-radius: 100rem;
    color: var(--background-colour);
    background: var(--main-colour);
}

.paginator {
    --padding: var(--box-shadow-thickness);
    --border-radius: calc(var(--box-shadow-thickness) * 5);

    width: min-content;

    display: flex;
    gap: var(--padding);

    padding: var(--padding);

    border-radius: var(--border-radius);
    background-color: var(--fore-colour);
}

.paginator a {
    font-weight: bold;

    width: 4rem;
    height: 4rem;

    display: flex;
    place-content: center;
    place-items: center;

    background-color: var(--background-colour);

    transition: background-color 250ms, color 250ms;
}

.paginator a:is(:first-child, :last-child),
.paginator a:first-child:last-child {
    border-radius: var(--border-radius);
}

.paginator a:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.paginator a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.paginator a[data-is-selected-page=true] {
    color: var(--background-colour);
    background-color: var(--main-colour);
}

.paginator a:is(:hover, :focus-visible) {
    color: var(--background-colour);
    background-color: var(--fore-colour);
}

#cart-table {
    border-collapse: collapse;
}

#cart-table :is(td, th) {
    text-align: center;
    
    padding: 1rem;
    
    border: 2px solid var(--fore-darker-colour);
}

#cart-table tbody tr:nth-child(odd) {
    background-color: var(--background-dark-colour);
}

.primary-button {
    font-weight: bold;

    color: var(--background-colour);
    background-color: var(--main-colour);
}

.secondary-button {
    font-weight: bold;

    color: var(--background-colour);
    background-color: var(--secondary-colour);
}

:is(.primary-button, .secondary-button):is(:hover, :focus-within) {
    filter: brightness(110%);
}