@model ProductsListViewModel
<h1>Welcome to ASPortStore!</h1>
<main id="product-displayer">
    @foreach (var product in Model?.Products ?? Enumerable.Empty<Product>())
    {
        <div class="product-card">
            <h2>@product.Name</h2>
            <span>@product.Price.ToString("c")</span>
            <p>@product.Description</p>
        </div>
    }

    <section page-model="@Model?.PagingInfo" page-action="Index"></section>
</main>